

main{
    width: auto;
    height: 250px;
    background: $bg-seccion; /*colores*/
    

    .main-index{
        font-family:sans-serif;
        color: $nombre-seccion;/*colores*/
        padding: 15px;
        
    }
    .p-main {
        font-family: Arial, Helvetica, sans-serif;
        width: 80%;
        margin: auto auto;
        color: $color;/*colores*/
        text-align: center;
        
    }
}
