$bg-header:'background-image: url(../imagenes/deportista-7.jpg)';
$bg-footer:rgb(40, 39, 63);
$bg-seccion: #383737;
$bg-rehab: black;
$color: white;
$nombre-seccion: rgb(211, 83, 83);
$texto-seccion: darkblue;
$subtitulo: rgb(187, 42, 42);
